.rent-post-item-main {
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
}
.rent-post-item {
  margin: 20px;
}
.location-rent-post-heading {
  text-align: center;
}
.text-center {
  text-align: center;
}
.color-red {
  color: red;
}
